.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 250px;
  margin: 100px auto;
  padding: 20px;
  text-decoration: none;
  border: 1px solid rgba(lime, .3);
  background-color: rgba(lime, .1);
  color: black;
  border-radius: 5px;
  transition: all .25s;
  
  span {
    margin-top: 20px;
    text-transform: uppercase;
    color: #0e0e0e;
    font-weight: lighter;
    font-family: Helvetica;
    letter-spacing: 3px;
    font-size: 13px;
  }
  
  svg {
    height: 64px;
    width: 64px;
    overflow: visible;
    transition: all .5s;
  }
  
  .eyes * {
    animation: grow 2s ease infinite;
    transform-origin: center center; 
  }
  
  &:hover {
    background-color: rgba(lime, .15);
    border: 1px solid rgba(lime, .5);
    
    .eyes * {
      animation: growShake .5s ease 2;
    }
    
    .eyes #eye-left {
      animation-delay: .1s;
    }
    
    .eyes #eye-right {
    }
    
    .tongue {
      animation: growTongue 1.5s ease 1;
      transform-origin: top center;
    }
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);    
  }
  75% {
    transform: scale(1.03);    
  }
  100% {
    transform: scale(1);
  }
}

@keyframes growShake {
  0% {
    transform: scale(1) rotate(0);
  }
  25% {
    transform: scale(1.1) rotate(25deg);
  }
  50% {
    transform: scale(1) rotate(-15deg);    
  }
  75% {
    transform: scale(1.2) rotate(10deg);    
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

@keyframes growTongue {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
  100% {
    transform: scaleY(1);
  }
}